[defaults]
remote_user         = debian
private_key_file    = ~/.ssh/lab
host_key_checking   = false
interpreter_python  = auto_silent
enable_plugins      = community.proxmox.proxmox, host_list, script, auto, yaml, ini, toml

[ssh_connection]
pipelining = true
